{% extends 'base.html' %}


{% block body %}
<br><br><br><br><br>



<div class="container alert-info">
    <h4 style="color:red">{{ post.title }} </h4>
    <br>
    <p style="color:black">{{ post.content }}</p>
</div>
<br>


<div class="container" id="cmntid">
<form action="{% url 'comment' post.id %}" method='POST' >
    {% csrf_token %}
    <textarea type="text" name="comments" row="1"  column="4" placeholder="Comment here"></textarea>
    <br>
    <input type="submit" value="Submit">

</form>
</div>

<br><br>
{% if comments %}

{% for comment in comments %}
<div class="container">
    <h6><strong>{{comment.user.username}}</strong> : {{comment.comments}}</h6>

</div>

{% endfor %}

{% endif %}


{% endblock body %}